<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{text-decoration: underline;}
        h2{margin: 2px; font-size: 16px;}
    </style>
</head>
<body>
    <strong>{{patient.fname}},{{patient.lname}}</strong><br>
    <strong>DOB:</strong> {{dateOfBirth}}<br>
    <strong>Date Of Encounter:</strong> {{date}}<br>
    <strong>MRN:</strong> {{MRN}} <br>
    <br>
    <strong>Return:</strong> {{suggestedFollowUp}}<br>
    <strong>Diagnosis:</strong> {{DD}}</br>
    <strong>Work Duty:</strong> {{workDType}}<br><br>
    <strong>Chief Complaint:</strong> {{problem_areasToUpperCase}} {{problem_concatenated}}
<br></br>
    <h2>History Of Presenting Illness</h2>
    {{patient.fname}} {{patient.lname}}  presents today for follow up. Since last appointment, {{pronounLowercase}} {{hasBeen}} compliant
         with treatment plan{{pTreatmentPlanIncluding}}{{ ptreatmentPlane}}. {{pronoun}} states
        that since last visit, symptoms are {{symptoms}}, and grades his pain {{patientInWaitingRoom.painScale}} 
        level intensity. {{injectionDetail}}{{improveDetail}} The patient admits to {{fallsOrTrauma}} {{thrumaDetail}}
        <br></br>
        <strong>{{allergiesText}}</strong>
        <ol style="margin-top: 0px; padding-top: 0px;">
            {{#each patient.allergies}}
            <li>{{this.name}} {{this.reaction}}</li>
            {{/each}}
        </ol>
        <strong>{{medicationsText}}</strong>
        <ol style="margin-top: 0px; padding-top: 0px;">
            {{#each medications}}
            <li>{{this}}</li>
            {{/each}}
        </ol>
    <h2>Physical Examination: </h2>
    {{patient.fname}},{{patient.lname}} is an awake, alert and oriented {{patient.gender}} that
        appears {{hisORHer}} stated age. {{pronoun}} has a pleasant demeanor. {{pronoun}} is able to follow
        commands appropriately. {{pronoun}} is in no acute distress.
    
<br></br>
    <strong style = "display: {{vitalStyle}}">Vitals:</strong>
    <!-- <li style="list-style-type: none;">Ht:  {{vitals.height}}</li>
    <li style="list-style-type: none;">Wt:  {{vitals.weight}}</li>
    <li style="list-style-type: none;">BMI:  {{vitals.BMI}}</li>
    <li style="list-style-type: none;">BP:  {{vitals.BP}}</li>
    <li style="list-style-type: none;">Pulse:  {{vitals.heartrate}}</li>
    <li style="list-style-type: none;">RR:  {{vitals.respiratory}}</li> -->
    <li style="list-style-type: none;">{{height}}</li>
    <li style="list-style-type: none;">{{weight}}</li>
    <li style="list-style-type: none;">{{BMI}}</li>
    <li style="list-style-type: none;">{{BP}}</li>
    <li style="list-style-type: none;">{{heartrate}}</li>
    <li style="list-style-type: none;">{{respiratory}}</li>
    </br>
    <strong>Skin:</strong> {{skin}} 
    <br></br>
    <strong>{{physicalExamText}}</strong>
    <ul style="margin-top: 0px; padding-top: 0px;">
    {{#each handFootLandMarks}}
    <li>{{this}}</li>
    {{/each}}
    {{#each generalBodyParts}}
    <li>{{this}}</li>
    {{/each}}  
    {{#each physicalExamThreeDModal}}
    <li>{{this}}</li>
    {{/each}}
    </ul>
    <strong>{{rangeOFMotion}}</strong>
    <ul style="margin-top: 0px; padding-top: 0px;">
        {{#each followUpVisit.rangeOfMotion}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
    <div style = "display: {{strengthStyle}}">
    <h2>Strength:</h2>
    <table style="text-align: left; border: 1px solid black; border-collapse: collapse;">
        <tr>
            <th style="border: 1px solid black; font-size: 14px; min-width: 50px;">Right</th>
            <th style="border: 1px solid black; font-size: 14px; text-align:center; min-width: 100px;">Name</th>
            <th style="border: 1px solid black; font-size: 14px; min-width: 50px;">Left</th>
        </tr>
        {{#each strength}}
        <tr>
            <td style="border: 1px solid black;">{{this.right}}/5</td>
            <td style="border: 1px solid black; text-align:center">{{this.strengthName}}</td>
            <td style="border: 1px solid black;">{{this.left}}/5</td>
        </tr>
        {{/each}}
    </table>
    </div>
    <div style="display: {{ReflexesStyles}}">
    <h2>Reflexes:</h2>
        <table style="text-align: left; border: 1px solid black; border-collapse: collapse;">
            <tr>
                <th style="border: 1px solid black; font-size: 14px; min-width: 50px;">Right</th>
                <th style="border: 1px solid black; font-size: 14px; text-align:center; min-width: 100px;">Name</th>
                <th style="border: 1px solid black; font-size: 14px; min-width: 50px;">Left</th>
            </tr>
            {{#each followUpVisit.reflexes}}
            <tr>
                <td style="border: 1px solid black;">{{this.right}}</td>
                <td style="border: 1px solid black; text-align:center">{{this.reflexName}}</td>
                <td style="border: 1px solid black;">{{this.left}}</td>
            </tr>
            {{/each}}
        </table>
    </div>
    <br></br>
        <strong>{{positiveHeading}}</strong>
        <ul style="margin-top: 0px; padding-top: 0px;">
            {{#each ST}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
        <strong>{{RadiationDistributionTxt}}</strong>
        <ul style="margin-top: 0px; padding-top: 0px;" >
          {{#each RadiationDistribution}}
          <li>{{this}}</li>
          {{/each}}
      </ul>
    
    <strong>{{diagnosticSudiesText}}</strong>
    {{#each diagnosticSudies}}
    <p>{{this.labResult}}</p>
    {{/each}}
    <strong>Assessment: {{fname}} {{lname}} is a {{Age}} year old {{sex}} with:</strong>
    <ol style="margin-top: 0px; padding-top: 0px;">
        {{#each DDarray}} 
        <li>{{this}}</li>
         {{/each}}
        </ol>
    <h2>Plan:</h2> 
    {{patient.fname}} {{patient.lname}} presents with signs and symptoms consistent with  {{assessmentText}}{{DDarrayOld}}{{DDarrayNew}} Diagnosis,
         diagnostic studies, and treatment plans were reviewed with the patient at
    today’s visit. {{treatmentPlanIncludesText}}  
    <ul>
        {{#each treatmentPlane}}
        <li>
            {{this.treatmentName}}{{this.treatmentDetail}}
        </li>
        {{/each}}   
        {{#each medicalEquipmentArr}}
        <li>
            {{this}}
        </li>
        {{/each}} 
    </ul>
    {{suggestedFollowUp}} {{medicalEquipmentText}} {{medicalEquipment}}{{dot}} The patient is happy with the
    plan moving forward.

    <div >
        <div style="display: {{doctorNameStyle}};"> {{doctorName}}, {{designations}}<br></div>
         <img src={{signatureUrl}} alt="" style={{imageStyle}}><br>
         <strong>{{signatureDate}}</strong>
     </div>
    
</body>
</html>