<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Operation Note</h1>
    <h1>{{patient.fname}},{{patient.lname}}</h1>
   <h2>DOB: (Date of Birth)</h2>
   <h2>MRN: (Medical Record Number)</h2>
   <h2>Date of Encounter: (Date)</h2>
   <h2>Return: (Follow up appointment selected by doctor in treatment plan)</h2>
   <h2>Diagnosis: (Surgery Perfomed)</h2>
   <h2>Work Duty:</h2>
   <h2>Chief Complaint:</h2>
   <h2>History of Presenting Illness</h2>
        <p>(Name) presents today for first post-op visit up. Since surgery, the patient
            (Fevers/chills/nausea/vomiting/chest pain/shortness of breath/calf/falls/trauma).
            (He/She) states (his/her) pain is (controlled/not controlled) (without medication/with
            medication including (free text box)). Pain is graded at (Pain Scale) level intensity. (He/She)
            (Is ambulating without any assistive devices/is ambulating with (Assistive Device)/is not
            ambulatory)
        </p> 

<p><strong>Examination:</strong> (Name) is an awake, alert and oriented (male/female/individual) that
    appears (his/her/their) stated age. They have a pleasant demeanor. They are able to follow
    commands appropriately. They are in no acu</p>

    <h2>Vitals:</h2>
    <strong>Skin:</strong>Incision is
    <p>(Clean/Dry/Intact/Erythema/Edema/Ecchymosis/Drainage/Dehiscense/Hematoma)</p>
    <h2>The patient has tenderness to palpation at:</h2>
    <h2>Range of motion:</h2>
    <h2>Strength:</h2>
    <h2>Reflexes:</h2>
    <h2>The patient has a positive: (Special Tests)</h2>
    <h2>The patient has a negative: (Special Tests)</h2>
    <h2>Distribution of Radiation:</h2>
    <h2>Diagnostic Studies:</h2>
    <h2>Assessment: (Name) is a (Age) year old (sex) S/P:</h2>
    <h2>1.) (Surgery Perfomed)</h2>
    <p>Plan: (Name) presents with signs and symptoms consistent with (Diagnosis #1), (Diagnosis
        #2), Diagnosis, diagnostic studies, and treatment plans were reviewed with the patient at
        today’s visit. Treatment plan includes (Treatment Plan buttons selected by doctor). The
        patient will follow up (in one week/in two weeks/in 3 weeks/in one month/in 6 weeks/ as
        needed/other). (The patient was provided with (DME item). The patient is happy with the
        plan moving forward.</p>
 
</body>
</html>