<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
         h1{text-decoration: underline;}
        h2{margin: 2px; font-size: 16px;}
        p{margin-top: 2px;}
    </style>
</head>
<body>
    <strong>{{patient.fname}},{{patient.lname}}</strong><br>
    <strong>DOB:</strong> {{dateOfBirth}}<br>
    <strong>MRN:</strong> {{MRN}}<br>
    <strong>Date of Encounter:</strong> {{date}}<br><br>
    <strong>Return:</strong> {{suggestedFollowUp}}<br>
    <strong>Diagnosis:</strong> S/P {{fullBodyText}} {{DD}}<br>
    <strong>Date of Surgery:</strong> {{operation.operationDate}}<br>
    <strong>Work Duty:</strong> {{workDType}}<br><br>
  
   <h2>History of Presenting Illness</h2>
        <p>{{patient.fname}} {{patient.lname}}  presents today for {{hisORHer}} first post-op visit.{{patientAdmits}} 
            <!-- Since surgery, the patient admits to -->
            <!-- {{#each operation.patientAdmits}}
            {{this}}
            {{/each}}. -->
            {{pronoun}} states {{hisORHer}} pain is  {{isPain}} 
            {{medicationtxt}}{{painDetail}}. Pain is graded at {{operation.painScale}} level intensity. {{pronoun}}
          <span style="display: {{ambulatingStyle}};"> {{patientAmbulating}}{{assistiveDevice}}</span> {{isNotAmbulating}}
        </p> 

<!-- <p><strong>Physical Examination:</strong> {{patient.fname}} {{patient.lname}} is an awake, alert and oriented {{gender}} that
    appears {{hisORHer}} stated age. {{pronoun}} has a pleasant demeanor. {{pronoun}} is able to follow
    commands appropriately. {{pronoun}} is in no acute distress.</p> -->
    <strong>Physical Examination: </strong><br>
    <strong style = "margin-top: 0px; padding-top: 0px; display: {{generalExamSectionStyle}}">General Examination: </strong>
            <p1 style = "margin-top: 0px; padding-top: 0px; display: {{generalExamSectionStyle}}">
            {{generalExamPatientIs}} {{gender}}{{generalExamWhoAppears}}
            {{generalExamHas}} {{pronoun}} is able to follow instructions.
            {{generalExamAndis}} {{generalExamGaitIs}}</p1>

    <!-- <strong>Physical Examination: </strong><br>
    <strong style = "margin-top: 0px; padding-top: 0px; display: {{generalExamSectionStyle}}">General Examination: </strong>
    <p1 style = "margin-top: 0px; padding-top: 0px; display: {{generalExamSectionStyle}}">
    {{generalExamPatientIs}} {{gender}}{{generalExamWhoAppears}}
    {{generalExamHas}} {{pronoun}} is able to follow instructions.
    {{generalExamAndis}} {{generalExamGaitIs}}</p1>
    </p> -->

    <!-- <strong >Vitals:</strong>
    <li style="list-style-type: none;">Ht:  {{vitals.height}}</li>
    <li style="list-style-type: none;">Wt:  {{vitals.weight}}</li>
    <li style="list-style-type: none;">BMI:  {{vitals.BMI}}</li>
    <li style="list-style-type: none;">BP:  {{vitals.BP}}</li>
    <li style="list-style-type: none;">Pulse:  {{vitals.heartrate}}</li>
    <li style="list-style-type: none;">RR:  {{vitals.respiratory}}</li> -->
    <br></br>
    <strong style = "display: {{vitalStyle}}">Vitals:</strong>
    <li style="list-style-type: none;">{{height}}</li>
    <li style="list-style-type: none;">{{weight}}</li>
    <li style="list-style-type: none;">{{BMI}}</li>
    <li style="list-style-type: none;">{{BP}}</li>
    <li style="list-style-type: none;">{{heartrate}}</li>
    <li style="list-style-type: none;">{{respiratory}}</li>
    <li style="list-style-type: none;">{{Temp}}</li>
    <li style="list-style-type: none;">{{cardiovascular}}</li>
    <li style="list-style-type: none;">{{pulmonary}}</li>
    </br>
    <!-- <strong>Skin:</strong> Incision is {{skin}} -->

    <p1><strong>Skin:</strong> {{skinText}}<br>
        <ul style="margin-top: 0px; padding-top: 0px;">
            {{#each skin2}}
            <li style="margin-top: 0px; padding-top: 0px;">{{this.skinText}}</li>
            <div style = "display:{{this.skinImgStyle}}; margin-top: 0px; padding-top: 0px;">
            {{#each this.skinImg}}
           <img src={{this.url}} alt="" style = "width:76px;height:76px; object-fit: contain;text-align:center margin-top: 0px; padding-top: 0px; display: {{this.skinImgStyle}}">
            {{/each}}
            </div>
            {{/each}}
        </ul>
    </p1>

    <p1 style = "display: {{vascularExamStyle}}"><strong>Vascular Exam:</strong>
        <!-- {{#each vascularExam}}
        <li>{{this}}</li>
        {{/each}}
    </p1>
    <br> -->
    <table style="text-align: left; border: 1px solid black; border-collapse: collapse;">
        <tr>
            <th style="border: 1px solid black; font-size: 14px;text-align:center; min-width: 50px;">Right</th>
            <th style="border: 1px solid black; font-size: 14px; text-align:center; min-width: 100px;">Name</th>
            <th style="border: 1px solid black; font-size: 14px; min-width: 50px; text-align:center;">Left</th>
        </tr>
        {{#each vascularExamObj}}
        <tr>
            <td style="border: 1px solid black; text-align:center;">{{this.right}}</td>
            <td style="border: 1px solid black; text-align:center">{{this.pulseLabel}}</td>
            <td style="border: 1px solid black; text-align:center;">{{this.left}}</td>
        </tr>
        {{/each}}
    </table>
    <br>
    </p1>
    <p1 style = "display: {{sensationExamStyle}}"><strong>Neuro Exam:</strong>
        {{#each sensationExam}}
        <li>{{this}}</li>
        {{/each}}
    </p1>
    <br>

    <!-- <h2>The patient has tenderness to palpation at:</h2> -->
    <div style="display: {{rangeOfMotionStyle}};">
    <strong>{{rangeOFMotion}} </strong>
            {{#each operation.rangeOfMotion}}
            <li style="margin-top: 0px; padding-top: 0px;">{{this}}</li>
            {{/each}}
            <br>
        </div>

    <div style="display: {{strengthStyle}};">
    <br />
    <h2 style="display: {{strengthStyle}};">Strength:</h2>
    <table style="text-align: left; border: 1px solid black; border-collapse: collapse;">
        <tr>
            <th style="border: 1px solid black; font-size: 14px; min-width: 50px;">Right</th>
            <th style="border: 1px solid black; font-size: 14px; text-align:center; min-width: 100px;">Name</th>
            <th style="border: 1px solid black; font-size: 14px; min-width: 50px;">Left</th>
        </tr>
        {{#each strength}}
        <tr>
            <td style="border: 1px solid black;">{{this.right}}/5</td>
            <td style="border: 1px solid black; text-align:center">{{this.strengthName}}</td>
            <td style="border: 1px solid black;">{{this.left}}/5</td>
        </tr>
        {{/each}}
        <br />
    </table>
    
    <div style="display: {{spainStyle}};">
        <strong>Spine Strength: </strong>
        <table style="text-align: left; border: 1px solid black; border-collapse: collapse;">
            <tr>
                <th style="border: 1px solid black; font-size: 14px; text-align:center; min-width: 100px;">Name</th>
                <th style="border: 1px solid black; font-size: 14px; min-width: 50px;">value</th>
            </tr>
            {{#each spain}}
            <tr>
                <td style="border: 1px solid black; text-align:center">{{this.strengthName}}</td>
                <td style="border: 1px solid black;">{{this.right}}/5</td>
            </tr>
            {{/each}}
        </table>
       </div>
       <br />
       </div>

    <div style="display: {{ReflexesStyles}}">
    <h2>Reflexes:</h2>
        <table style="text-align: left; border: 1px solid black; border-collapse: collapse;">
            <tr>
                <th style="border: 1px solid black; font-size: 14px; min-width: 50px;">Right</th>
                <th style="border: 1px solid black; font-size: 14px; text-align:center; min-width: 100px;">Name</th>
                <th style="border: 1px solid black; font-size: 14px; min-width: 50px;">Left</th>
            </tr>
            {{#each operation.reflexes}}
            <tr>
                <td style="border: 1px solid black;">{{this.right}}</td>
                <td style="border: 1px solid black; text-align:center">{{this.reflexName}}</td>
                <td style="border: 1px solid black;">{{this.left}}</td>
            </tr>
            {{/each}}
        </table>
        <br>
    </div>
        <!-- <strong>{{positiveHeading}}</strong>
        <ul>
            {{#each ST}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
        <strong>{{negativeHeading}}</strong>
        <ul>
            {{#each negativeST}}
            <li>{{this}}</li>
            {{/each}}
        </ul>  -->
  
    <!-- <h2>Distribution of Radiation:</h2> -->
    <!-- <h2>Diagnostic Studies:</h2> -->
    
    <p><strong>Assessment:</strong> {{patient.fname}} {{patient.lname}} is a {{Age}} year old {{patient.gender}} S/P:</p>
    <p>{{#each NewCPTArr}}
        <li>{{this}} {{fullBodyText}}</li>
        {{/each}}   
    </p>
    <p> <strong>Plan:</strong> {{treatmentPlanStr}}
        <ul>
            {{#each treatmentPlane}}
            <li>
                <!-- {{this.treatmentName}}{{this.treatmentDetail}} -->
                {{this}}
            </li>
            {{/each}}   
            
            {{#each medicalEquipmentArr}}
            <li>
                {{this}}
            </li>
            {{/each}} 
        </ul>
        The patient will follow up in {{suggestedFollowUp}}.{{medicalEquipment}} The patient is happy with the
        plan moving forward.</p>
 
</body>
</html>