<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pdf</title>

    <style>
        strong {
            font-size: 1em;
        }

        img {
            width: 350px;
            height: 300px;
            margin: auto;
        }

        th,
        td,
        tr {
            padding: 10px;
        }
    </style>
</head>

<body>
    <p><strong>{{lN}}, {{fN}}</strong><br>
        <strong>DOB:</strong> {{DOB}} <br>
        <strong>MRN:</strong> {{MRN}} <br>
        <strong>Date:</strong> {{date}}
    </p>

    <strong>Follow-up:</strong> {{followup}}</br>
    <strong>Diagnosis:</strong> {{DD}}</br>

    <!-- <strong>Work Duty:</strong> {{#each treatments}} {{this}}, {{/each}} <br> -->
    <!-- <strong>Work Duty:</strong> {{workDType}} - {{workDIncludes}} to the {{toThe}} {{toTheInclude}} greater than
    {{grtrThan}} until next
    visit on {{nextVisit}} <br> -->
    <strong>Work Duty:</strong>
    {{workDType}}
    </p>
    <!-- <h3>Medications Prescribed: {medications}</h3> <br /><br /> -->

    <div class="blue">
        <p><strong>Chief Complaint:</strong> {{problemAreas}} {{problem_concatenated}}</p>
        <strong>History Of Presenting Illness:</strong><br>
        <p>
            {{name}} is a very pleasant {{age}} year old {{gender}} who presents with the complaint of
            {{problems}} at {{problemAreas}}.
            {{pronoun}} states the symptoms have been present since {{onset}}, at {{intensity}} level intensity.
            {{pronoun}} {{injury}}.
            {{pronoun}} states symptoms are worse with {{aggrevatingFactors}} and get
            better with {{alleviatingFactors}}. {{symtompsRadiate}} {{pronoun}} {{pastTreatmentText}} {{#each pastTreatments}}{{this}} {{/each}}{{pronoun}} {{medicationHistory}}
            {{#each newMedications}}
            {{this}},
            {{/each}}
            <br><br>
            <!--  <strong>{{name}} has received treatment for this issue in the past including:</strong>
       <ol>
            {{#each medications}}
            <li>{{this}}</li>
            {{/each}}
        </ol>. -->
        <!-- <p>{{name}} {{pastTreatmentText}} -->
        <!-- <strong>Past treatment (if any) includes:</strong> {{#each pastTreatments}}{{this}}, {{/each}} -->
        </p>
        <br>
        <!-- <p>{{pronoun}} has taken the following <strong>medications</strong> to help with this condition:
        </p> -->
        <!-- <p>{{pronoun}} {{medicationHistory}}</p> -->
        <!-- <ol>
            {{#each newMedications}}
            <li>{{this}}</li>
            {{/each}}
        </ol> -->
        <!-- <p><strong>Allergies:</strong></p>
        <table style="text-align: left; border: 1px solid black; width: 80%;">
            <tr>
                <th style="border: 1px solid black; border-collapse: collapse; font-size: 14px;">Name</th>
                <th style="border: 1px solid black; border-collapse: collapse; font-size: 14px;">Reaction</th>
            </tr>
            {{#each allergies}}
            <tr>
                <td style="border: 1px solid black; border-collapse: collapse;">{{this.name}}</td>
                <td style="border: 1px solid black; border-collapse: collapse;">{{this.reaction}}</td>
            </tr>
            {{/each}}
        </table> -->
        <p style="margin-top: -40px;"><strong>{{allergiesText}}</strong> </p>
        <ol>
            {{#each allergies}}
            <li>{{this.name}} {{this.reaction}}</li>
            {{/each}}
        </ol>
        <p><strong>{{medicationsText}}</strong> </p>
        <ol>
            {{#each medications}}
            <li>{{this}}</li>
            {{/each}}
        </ol>
        <p><strong>{{pmhText}}</strong> </p>
        <ol>
            {{#each PMH}}
            <li>{{this}}</li>
            {{/each}}
        </ol>

        <p><strong>Past Surgical History:</strong></p>
        <!-- <ul>
            {{#each PSH}}
            <img src={{this.url}} alt="">
            {{/each}}
        </ul> -->

        <p><strong>Family History:</strong><br>
            <strong>Mother's Conditions:</strong> {{mMC}}</br>
            <strong>Fathers's Conditions:</strong> {{fMC}}</br>
            <strong>Grand Parents Conditions:</strong> {{gPMC}}</br>
            <strong>Siblings Conditions:</strong> {{sMC}}
        </p>
        <p><strong>Social History:</strong><br>
            <strong>Martial Status:</strong> {{maritalStatus}}</br>
            <strong>Smokes:</strong> {{smokes.doesSmoke}}</br>
            <strong>Drinks:</strong> {{drinks.doesDrink}}</br>
        </p>
        <p><strong>Review of Systems:</strong><br>
            <strong>General:</strong> {{rosGeneral}}</br>
            <strong>Neurological:</strong> {{rosNeuro}}</br>
            <strong>Skin:</strong> {{rosSkin}}</br>
            <strong>Hematologic:</strong> {{rosHemotologic}}</br>
            <strong>Musculoskeletal:</strong> {{rosMusculoskeletal}}</br>
            <strong>Endocrine:</strong> {{rosEndocrine}}</br>
            <strong>Psychiatric:</strong> {{rosPsychiatric}}</br>
        </p>
        <p>
            <strong>Physical Examination: </strong>
            {{name}} is {{generalExam.patientIs}} {{gender}} that appears {{generalExam.whoAppears}}.
            {{pronoun}} has {{generalExam.has}}. {{pronoun}} is able to follow instructions.
            {{pronoun}} is {{generalExam.andIs}}. <br /> <br />

            <strong >Vitals:</strong>
            <li style="list-style-type: none;">Ht:  {{vitals.height}}</li>
            <li style="list-style-type: none;">Wt:  {{vitals.weight}}</li>
            <li style="list-style-type: none;">BMI:  {{vitals.BMI}}</li>
            <li style="list-style-type: none;">BP:  {{vitals.BP}}</li>
            <li style="list-style-type: none;">Pulse:  {{vitals.heartrate}}</li>
            <li style="list-style-type: none;">RR:  {{vitals.respiratory}}</li>
            <br>

            <!-- {{#if problemArray}}
        <p1><strong>Problems: </strong><br />
            <ul>
                {{#each problemArray}}
                <li>{{this}}</li>
                {{/each}}
            </ul>
        </p1>
        {{else}}
        <p>No Affected Problems Found</p>
        {{/if}} <br /> -->


            <p1><strong>{{skinText}}</strong>
                <ul>
                    {{#each skin}}
                    <li>{{this}}</li>
                    {{/each}}
                </ul>
            </p1>
            <p1><strong>{{physicalExamText}}</strong>
                <ul style="margin-bottom:0; ">
                    {{#each handFootLandMarks}}
                    <li>{{this}}</li>
                    {{/each}}
                </ul>
                <ul style="margin-top:0; ">
                    {{#each generalBodyParts}}
                    <li>{{this}}</li>
                    {{/each}}
                </ul>
                <ul style="margin-top:-20px; ">
                    {{#each physicalExamThreeDModal}}
                    <li>{{this}}</li>
                    {{/each}}
                </ul>
            </p1>




        </p>

    </div>

    <div class="red">

        <!-- <p>
            {{#if generalBodyParts}}
            <p1><strong>Skin: </strong><br />
                <ul>
                    {{#each generalBodyParts}}
                    <li>{{this}}</li>
                    {{/each}}
                </ul>
            </p1>
            {{else}}
        <h1>No Affected Body Parts Found</h1>
        {{/if}}
        </p> -->
        <p><strong>Range of motion: </strong></p>
        <ul>
            {{#each range}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
        <br />
        <strong>{{problemAreas}} Strength: </strong><br /><br />
        <table style="text-align: left; border: 1px solid black; width: 40%;">
            <tr style = {{styles}}>
                <th style="border: 1px solid black; border-collapse: collapse; font-size: 14px;">Right Strength</th>
                <th style="border: 1px solid black; border-collapse: collapse; font-size: 14px;">Name</th>
                <th style="border: 1px solid black; border-collapse: collapse; font-size: 14px;">Left Strength</th>
            </tr>
            {{#each strength}}
            <tr>
                <td style="border: 1px solid black; border-collapse: collapse; ">{{this.right}}/5</td>
                <td style="border: 1px solid black; border-collapse: collapse;">{{this.strengthName}}</td>
                <td style="border: 1px solid black; border-collapse: collapse;">{{this.left}}/5</td>
            </tr>
            {{/each}}
        </table>
        <!-- <p>The patient has tenderness to palpation at: </p><ul>{{#each physicalExam}} <li> {{this}} </li> {{/each}}</ul> -->
        <p>{{negativeHeading}}</p>
        
        <ul>
            {{#each negativeST}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
        <p>{{positiveHeading}}</p>
        <ul>
            {{#each ST}}
            <li>{{this}}</li>
            {{/each}}
        </ul>

    </div>

    <div class="green">
        <strong>{{diagnosticSudiesText}}</strong>
        {{#each diagnosticSudies}}
        <p>{{this.labResult}}</p>
        {{/each}}
        <strong>Assessment:</strong>
        <p>{{name}} is a {{age}} year old {{gender}} with: {{DD}}</p>
        <ol>{{#each DD}} <li>{{this.desc}}</li> {{/each}}</ol>
        <p><strong>Plan: </strong>{{name}} presents signs and symptoms consistent with: {{DD}} <br> {{#each DD}}
            {{this.desc}},
            {{/each}}</p>
        <p>Diagnosis, diagnostic studies, and treatment plan was reviewed with the patient at today’s visit.<br>
            Treatment plan includes: </p>
        <ul>
            {{#each treatmentPlan}}
            <li>
                {{this.treatmentName}}{{this.treatmentDetail}}
            </li>
            {{/each}}   
            {{#each medicalEquipment}}
            <li>
                {{this}}
            </li>
            {{/each}} 
        </ul>
        <p>The patient will follow up in {{followup}}. </p>
    </div>
    <br> <br>
    <div>
        <strong>Work Duty:</strong>
        <p>{{workDType}}</p>
        <!-- i remove this code 
            {{workDIncludes}} to the {{toThe}} {{toTheInclude}} greater than {{grtrThan}} until next
            visit on {{nextVisit}}. -->
    </div>

</body>
<!-- <script>
 let test = document.querySelector('#test1');
 for (let i = 0; i < array.length; i++) {
     const element = array[i];
     
 }
</script> -->

</html>