<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pdf</title>

    <style>
        strong {
            font-size: 1em;
        }

        img {
            width: 350px;
            height: 300px;
            margin: auto;
        }

        th,
        td,
        tr {
            padding: 10px;
        }
    </style>
</head>

<body>
    <p><strong>{{lN}}, {{fN}}</strong><br>
        <strong>DOB:</strong> {{DOB}} <br>
        <strong>MRN:</strong> {{MRN}} <br>
        <strong>Date:</strong> {{date}}
    </p>

    <strong>Follow-up:</strong> {{followup}}</br>
    <strong>Diagnosis:</strong> {{DD}}</br>

    <!-- <strong>Work Duty:</strong> {{#each treatments}} {{this}}, {{/each}} <br> -->
    <!-- <strong>Work Duty:</strong> {{workDType}} - {{workDIncludes}} to the {{toThe}} {{toTheInclude}} greater than
    {{grtrThan}} until next
    visit on {{nextVisit}} <br> -->
    <strong>Work Duty:</strong>
    {{workDType}}
    </p>
    <!-- <h3>Medications Prescribed: {medications}</h3> <br /><br /> -->

    <div class="blue">
        <p><strong>Chief Complaint:</strong> {{problem_areasToUpperCase}} {{problem_concatenated}}</p>
        <strong>History Of Presenting Illness:</strong><br>
        <p>
            {{name}} is a very pleasant {{age}} year old, {{handDominanceText}}, {{gender}}{{occupationText}}. He comes in today complaining of {{symptomsDuration}}
             {{problems}} {{toHasortoHer}} {{problemAreas}}.
            {{pronoun}} states the symptoms have been present since {{onset}}, at {{intensity}} level intensity and developed {{symptomsDevelop}}.
            {{pronoun}} {{injury}}.
            {{pronoun}} states symptoms are worse with {{aggrevatingFactors}} and get
            better with {{alleviatingFactors}}. {{symtompsRadiate}} {{pronoun}}  {{pastTreatmentString}}. {{pastTreatmentOtherString}}{{pronoun}} {{medicationHistory}}
            {{#each newMedications}}
            {{this}}
            {{/each}}
            <br>
        </p>
            <!--  <strong>{{name}} has received treatment for this issue in the past including:</strong>
       <ol>
            {{#each medications}}
            <li>{{this}}</li>
            {{/each}}
        </ol>. -->
        <!-- <p>{{name}} {{pastTreatmentText}} -->
        <!-- <strong>Past treatment (if any) includes:</strong> {{#each pastTreatments}}{{this}}, {{/each}} -->
        
        <!-- <p>{{pronoun}} has taken the following <strong>medications</strong> to help with this condition:
        </p> -->
        <!-- <p>{{pronoun}} {{medicationHistory}}</p> -->
        <!-- <ol>
            {{#each newMedications}}
            <li>{{this}}</li>
            {{/each}}
        </ol> -->
        <!-- <p><strong>Allergies:</strong></p>
        <table style="text-align: left; border: 1px solid black; width: 80%;">
            <tr>
                <th style="border: 1px solid black; border-collapse: collapse; font-size: 14px;">Name</th>
                <th style="border: 1px solid black; border-collapse: collapse; font-size: 14px;">Reaction</th>
            </tr>
            {{#each allergies}}
            <tr>
                <td style="border: 1px solid black; border-collapse: collapse;">{{this.name}}</td>
                <td style="border: 1px solid black; border-collapse: collapse;">{{this.reaction}}</td>
            </tr>
            {{/each}}
        </table> -->
        <strong>{{allergiesText}}</strong> 
        <ol style="margin-top: 0px; padding-top: 0px;">
            {{#each allergies}}
            <li>{{this.name}} - {{this.reaction}}</li>
            {{/each}}
        </ol>
        <strong>{{medicationsText}}</strong> 
        <ol style="margin-top: 0px; padding-top: 0px;">
            {{#each medications}}
            <li>{{this}}</li>
            {{/each}}
        </ol>
        <strong>{{pmhText}}</strong> 
        <ol style="margin-top: 0px; padding-top: 0px;">
            {{#each PMH}}
            <li>{{this}}</li>
            {{/each}}
        </ol>

        <div style = "display: {{PshStyle}}">
        <strong>Past Surgical History:</strong>
        <!-- <ul>
            {{#each PSH}}
            <img src={{this.url}} alt="">
            {{/each}}
        </ul> -->
         <ul style="margin-top: 0px; padding-top: 0px;">
            {{#each PSH}}
            <li>{{this.name}} </li>
            {{/each}}
        </ul>
     </div>

        <br><strong>Family History:</strong><br>
            <strong>Mother's Conditions:</strong> {{mMC}}</br>
            <strong>Fathers's Conditions:</strong> {{fMC}}</br>
            <strong>Grand Parents Conditions:</strong> {{gPMC}}</br>
            <strong>Siblings Conditions:</strong> {{sMC}}
        </p>
        <br><strong>Social History:</strong><br>
            <strong>Occupation:</strong> {{occupation}}</br>
            <strong>Martial Status:</strong> {{maritalStatus}}</br>
            <strong>Smokes:</strong> {{smokes.doesSmoke}}</br>
            <strong>Drinks:</strong> {{drinks.doesDrink}}</br>
            <strong>Hand Dominance:</strong> {{handDominance}} </br>
        </p>
        <p><strong>Review of Systems:</strong><br>
            <strong>General:</strong> {{rosGeneral}}</br>
            <strong>Neurological:</strong> {{rosNeuro}}</br>
            <strong>Skin:</strong> {{rosSkin}}</br>
            <strong>Hematologic:</strong> {{rosHemotologic}}</br>
            <strong>Musculoskeletal:</strong> {{rosMusculoskeletal}}</br>
            <strong>Endocrine:</strong> {{rosEndocrine}}</br>
            <strong>Psychiatric:</strong> {{rosPsychiatric}}</br>
        </p>
        <p>
            <strong>Physical Examination: </strong>
            {{name}} is {{generalExamPatientIs}} {{gender}} that appears {{generalExam.whoAppears}}.
            {{pronoun}} has {{generalExam.has}}. {{pronoun}} is able to follow instructions.
            {{pronoun}} is {{generalExam.andIs}}. {{generalExam.gaitIs}} <br /> <br />
        </p>
            <!-- <strong style = "display: {{vitalStyle}}">Vitals:</strong> -->
            <!-- <ul style="margin-top: 0px; padding-top: 0px;"> -->
            <!-- <li style="list-style-type: none;">{{height}}</li>
            <li style="list-style-type: none;">{{weight}}</li>
            <li style="list-style-type: none;">{{BMI}}</li>
            <li style="list-style-type: none;">{{BP}}</li>
            <li style="list-style-type: none;">{{heartrate}}</li>
            <li style="list-style-type: none;">{{respiratory}}</li>
            <li style="list-style-type: none;">{{cardiovascular}}</li>
            <li style="list-style-type: none;">{{pulmonary}}</li> -->
            <!-- </ul> -->

            <strong style = "display: {{vitalStyle}}">Vitals:</strong>
            <li style="margin-top: 0px; padding-top: 0px; list-style-type: none;">{{height}}</li>
            <li style="list-style-type: none;">{{weight}}</li>
            <li style="list-style-type: none;">{{BMI}}</li>
            <li style="list-style-type: none;">{{BP}}</li>
            <li style="list-style-type: none;">{{heartrate}}</li>
            <li style="list-style-type: none;">{{respiratory}}</li>
            <li style="list-style-type: none;">{{cardiovascular}}</li>
            <li style="list-style-type: none;">{{pulmonary}}</li>
             </br>
            <br>
            <p1><strong>{{skinText}}</strong>
                <ul style="margin-top: 0px; padding-top: 0px;">
                    {{#each skin2}}
                    <li style="margin-top: 0px; padding-top: 0px;">{{this.skinText}}</li>
                    <div style = "display:{{this.skinImgStyle}}; margin-top: 0px; padding-top: 0px;">
                    {{#each this.skinImg}}
                   <img src={{this.url}} alt="" style = "width:76px;height:76px; object-fit: contain;text-align:center margin-top: 0px; padding-top: 0px; display: {{this.skinImgStyle}}">
                    {{/each}}
                    </div>
                    {{/each}}
                </ul>
            </p1>
            <br>
            <p1><strong>{{physicalExamText}}</strong>
                    {{#each handFootLandMarks}}
                    <li>{{this}}</li>
                    {{/each}}
                    {{#each generalBodyParts}}
                    <li>{{this}}</li>
                    {{/each}}  
                    {{#each physicalExamThreeDModal}}
                    <li>{{this}}</li>
                    {{/each}}
            </p1>
        

    </div>

    <div class="red">

        <!-- <p>
            {{#if generalBodyParts}}
            <p1><strong>Skin: </strong><br />
                <ul>
                    {{#each generalBodyParts}}
                    <li>{{this}}</li>
                    {{/each}}
                </ul>
            </p1>
            {{else}}
        <h1>No Affected Body Parts Found</h1>
        {{/if}}
        </p> -->
        <br>
        <strong>{{rangeOFMotion}} </strong>
        <!-- <ol style="margin-top: 0px; padding-top: 0px;"> -->
            {{#each range}}
            <li style="margin-top: 0px; padding-top: 0px;">{{this}}</li>
            {{/each}}
        <!-- </ol> -->
        
        <br />
       <div style = "display: {{strengthStyle}}">
        <strong>Strength: </strong>
        <table style="text-align: left; border: 1px solid black; border-collapse: collapse;">
            <tr>
                <th style="border: 1px solid black; font-size: 14px; min-width: 50px;">Right</th>
                <th style="border: 1px solid black; font-size: 14px; text-align:center; min-width: 100px;">Name</th>
                <th style="border: 1px solid black; font-size: 14px; min-width: 50px;">Left</th>
            </tr>
            {{#each strength}}
            <tr>
                <td style="border: 1px solid black;">{{this.right}}/5</td>
                <td style="border: 1px solid black; text-align:center">{{this.strengthName}}</td>
                <td style="border: 1px solid black;">{{this.left}}/5</td>
            </tr>
            {{/each}}
        </table>
       </div>
       <div style="display: {{spainStyle}};">
        <strong>Spine Strength: </strong><br /><br />
        <table style="text-align: left; border: 1px solid black; border-collapse: collapse;">
            <tr>
                <th style="border: 1px solid black; font-size: 14px; text-align:center; min-width: 100px;">Name</th>
                <th style="border: 1px solid black; font-size: 14px; min-width: 50px;">value</th>
            </tr>
            {{#each spain}}
            <tr>
                <td style="border: 1px solid black; text-align:center">{{this.strengthName}}</td>
                <td style="border: 1px solid black;">{{this.right}}/5</td>
            </tr>
            {{/each}}
        </table>
       </div>
        <br>
       <div  style="display: {{ReflexesStyles}}">
        <strong>Reflexes: </strong><br /><br />
        <table style="text-align: left; border: 1px solid black; border-collapse: collapse;">
            <tr>
                <th style="border: 1px solid black; font-size: 14px; min-width: 50px;">Right</th>
                <th style="border: 1px solid black; font-size: 14px; text-align:center; min-width: 100px;">Name</th>
                <th style="border: 1px solid black; font-size: 14px; min-width: 50px;">Left</th>
            </tr>
            {{#each Reflexes}}
            <tr>
                <td style="border: 1px solid black;">{{this.right}}</td>
                <td style="border: 1px solid black; text-align:center">{{this.reflexName}}</td>
                <td style="border: 1px solid black;">{{this.left}}</td>
            </tr>
            {{/each}}
        </table>
       </div>
        <!-- <p>The patient has tenderness to palpation at: </p><ul>{{#each physicalExam}} <li> {{this}} </li> {{/each}}</ul> -->
        <strong>{{positiveHeading}}</strong>
        <ul>
            {{#each ST}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
        <strong>{{negativeHeading}}</strong>
        <ul>
            {{#each negativeST}}
            <li>{{this}}</li>
            {{/each}}
        </ul> 
    </div>
  <strong>{{RadiationDistributionTxt}}</strong>
  <ul >
    {{#each RadiationDistribution}}
    <li>{{this}}</li>
    {{/each}}
</ul>

    <div class="green">
        <strong>{{diagnosticSudiesText}}</strong>
        {{#each diagnosticSudies}}
        <p>{{this.labResult}}</p>
        {{/each}}
        <strong>Assessment:</strong> {{name}} is a {{age}} year old {{gender}} with: 
        <ol>{{#each DDarray}} <li>{{this}}</li> {{/each}}</ol>
        <p><strong>Plan: </strong>{{name}} presents signs and symptoms consistent with: {{DD}} <br> {{#each DD}}
            {{this.desc}},
            {{/each}}</p>
        <p>Diagnosis{{diagnosticSudiesTextTwo}} and treatment plan was reviewed with the patient at today’s visit.<br>
            Treatment plan includes: </p>
        <ul>
            {{#each treatmentPlan}}
            <li>
                {{this.treatmentName}}{{this.treatmentDetail}}
            </li>
            {{/each}}   
            {{#each medicalEquipmentArr}}
            <li>
                {{this}}
            </li>
            {{/each}} 
        </ul>
        <p>The patient will follow up {{followup}}. </p>
    </div>
    <br> <br>
    <div>
        <strong>Work Duty:</strong>
        <p>{{workDType}}</p>
        <!-- i remove this code 
            {{workDIncludes}} to the {{toThe}} {{toTheInclude}} greater than {{grtrThan}} until next
            visit on {{nextVisit}}. -->
    </div>
   <div >
   <div style="display: {{doctorNameStyle}};"> {{doctorName}}, {{designations}}<br></div>
    <img src={{signatureUrl}} alt="" style={{imageStyle}}><br>
    <strong>{{signatureDate}}</strong>
</div>

</body>
<!-- <script>
 let test = document.querySelector('#test1');
 for (let i = 0; i < array.length; i++) {
     const element = array[i];
     
 }
</script> -->

</html>